
/* DONATE/NEED STYLES */

.resource-test ul {padding-left: 0;list-style-type: none;}

.resource-test ul li{
    margin: 0px 5px;
    padding: 10px;
    border: solid black;
    border-width: 1px;
}

.hidden {display: none;}

.hidden.responsive {
    margin: 0px;
    display: block;
}

.hidden.responsive li {
    margin-top: 0px;
}
