
/* DONATE/NEED STYLES */

.resource-test ul {
    border: solid black;
    border-width: 1px;
    padding-left: 0;
    list-style-type: none;
    margin: 7px 5px;
}

.resource-test ul li{
    margin: 0px 5px;
    padding: 7px 10px;
}

.hidden {display: none;}

.hidden.responsive {
    margin: 0px 5px;
    display: block;
}

.hidden.responsive li {
    margin-top: 0px;
    border-bottom: solid black;
    border-width: 1px;
}

#no-border{border:none;}

