/* GLOBAL STYLES */
html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* HOME PAGE STYLES */


#title{
    margin-top: 20px;
    text-align: center;
}

#title h1{
    display: inline;
}


#buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#buttons a {
    text-decoration: none;
    color: white;
    background-color: #47ACF9;
    width: 12%;
    min-width: 120px;
    padding: 10px 0px;
    margin: 10px;
    text-align: center;
}

/* #buttons a:hover{
    background-color: #F2F2F2;
    color: black;
} */


h2 {
    text-align: center;
}

.resource-list {
    display: flex;
    justify-content: center;
}

/* keep hidden */
.short-resources {display: none;}




/* PHONE STYLES */
@media screen and (max-width: 600px) {
    #buttons{
        flex-direction: column;
        align-items: center;
    }
    
    #buttons a {
        width: 60%;
        min-width: 120px;
    }

    .resources {display: none;}

    .short-resources {
        margin-left: 10px;
        display: inline-block;
        color: black;
        margin-bottom: 0;
    }

    .resource-list ul {padding-left: 0;list-style-type: none;}

    
    .resource-list ul li{
        padding: 10px;
        border: solid black;
        border-width: 1px;
    }
    
    .resource-list ul:first-child {
        border-top: solid black;
        border-left: solid black;
        border-right: solid black;
        border-width: 1px;
    }


}